.line {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.line.blue {
  fill: none;
  stroke: lightseagreen;
  stroke-width: 2;
}

.line.orange {
  stroke: #ffab00;
}

.dot {
  fill: #ffab00;
  stroke: #fff;
}

.dot.blue {
  fill: lightseagreen;
}

.dot.orange {
  fill: #ffab00;
}

.dot.focus {
  fill: black;
}
